<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Roteia API
  RewriteRule ^api/(.*)$ api.php?path=$1 [QSA,NC]

  # Roteia Webhook
  RewriteRule ^webhook/lead$ webhook.php?path=lead [QSA,NC]

  # Admin
  RewriteRule ^$ index.php [L]
</IfModule>